<!DOCTYPE html>
<html>

<head>
    <title>Contact us card || Learningrobo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./style.css"> -->
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="left-side">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">Address</div>
                    <div class="text-one">Hotel Cityinn
                        MIDC, Bhigwan Road, Baramati. Pune (India) Pincode – 413133</div>
                    <!-- <div class="text-two">India</div> -->
                </div>
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+91 9802361405</div>
                    <div class="text-two">+91 7823569010</div>
                </div>
                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">info.sudhakar@resort.com</div>
                    <div class="text-two">info.vishaka@resort.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="row" >
            
               
                    <div class="col-md-3">
                          <img class="img-circle" src="assets/contactus/11.png" style="width:200px"alt="">  
                        <div class="text-center">
                            SUDHAKAR SHETTY, <strong>OWNER</strong><br>
                            Email: sudhakar@resort.com
                       
                        
                    
                            
                   
                </div>
                    </div>
                    
                    
                    <div class="col-md-3">
                         <img class="img-circle" src="assets/contactus/22.jpg" style="width:200px" alt="" float="left"> 
                        
                        <div class="text-center">
                            RAJIV NIMKAR, <strong>MANAGER</strong><br>
                            Email:  rajiv@resort.com
                        </div>
                        
                    </div>
                    
                
                    <div class="col-md-3">
                     <img class="img-circle" src="assets/contactus/3.jpg" style="width:200px" alt="">
                        <div class="text-center">
                            ANAVI SHARMA, <strong>MANAGER</strong><br>
                            Email: anavi@resort.com
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <img class="img-circle" src="assets/contactus/5.jpg" style="width:200px" alt=""> 
                        <div class="text-center">
                            MADHURA KATE, <strong>Receptionist</strong><br>
                            Email: madhura@resort.com
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>