<!-- <p>owner works!</p> -->
<section class="header">
    <nav>
  
      <!-- <a href="" routerLink="/dashboard"> -->
  
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images.png"
                           
                height="150px" width="150px" style="border-radius: 50%;" alt="...">
            </div>
          </div>
       
        </div>
    </nav> <!-- </a> -->
  <nav>
      <div class="nav-links" id="navLinks">
       
        <div class="d-flex">
          <ul>
            <li><a mat-raised-button href="" routerLink="/"><mat-icon>chalet</mat-icon><strong>HOME</strong></a></li>
            <li><a mat-raised-button href="" routerLink="/dashboard"><mat-icon>dashboard</mat-icon><strong>DASHBOARD </strong> </a></li>
          </ul>
          
          
        </div>
        <br>
        <div class="margin-left">
          <h2 ><b>Ｇｅｔ Ｄｅｔａｉｌｓ Ｏｆ</b> </h2>
          <ol>
            <b>
        <li><a mat-raised-button href="" routerLink="/reservation"><strong>BOOKING DETAILS</strong> </a></li>
        <br>
        <li><a mat-raised-button href="" routerLink="/room"><strong>ROOM DETAILS</strong></a></li><br>
        <li><a mat-raised-button href="" routerLink="/department"><strong>DEPARTMENT DETAILS</strong></a></li><br>
        <!-- <li><a mat-raised-button href="" routerLink="/inventory"><strong>INVENTORY</strong></a></li><br> -->
        <li><a mat-raised-button href="" routerLink="/staff"><strong>STAFF DETAILS</strong></a></li><br>
        <li><a mat-raised-button href="" routerLink="/guest"> <strong>GUEST DETAILS</strong></a></li><br>
        <li><a mat-raised-button href="" routerLink="/user"><strong>ADD USERS</strong></a></li><br>      
      </b>
          </ol>
      </div>
      </div>
    </nav>
    
    
  
  
  </section>